target
.idea/
src/main/resources/
src/main/resources/application-test.yml
src/main/java/com/itmk/netSystem/userPhone
src/main/java/com/itmk/netSystem/phone
src/main/java/com/itmk/netSystem/patientOrder
src/main/java/com/itmk/netSystem/order
src/main/java/com/itmk/netSystem/news
src/main/java/com/itmk/netSystem/informationWeb
src/main/java/com/itmk/netSystem/advice